
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon.png" %}">
    <title>DSV Graph</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/lib/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link href="{% static "css/bootstrap-tagsinput.css" %}" rel="stylesheet">


    <link href="{% static "css/lib/calendar2/semantic.ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/lib/calendar2/pignose.calendar.min.css" %}" rel="stylesheet">
    <link href="{% static "css/lib/owl.carousel.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/lib/owl.theme.default.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/helper.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!--

    <script src=" {% static "js/bootstrap-tagsinput.js" %}" ></script>
    <script src=" {% static "js/typeahead.bundle.js" %}" ></script>
-->




</head>

</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
  
        {% block content %}
    	{% endblock %}
	

              <footer class="footer"> DSV Graph. Version 0.1 </a></footer>
            <!-- End footer -->
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->

    <link href="{% static "css/style.css" %}" rel="stylesheet">


    <script src=" {% static "js/lib/jquery/jquery.min.js" %}" ></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src=" {% static "js/lib/bootstrap/js/popper.min.js" %}"></script>
    <script src=" {% static "js/lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src=" {% static "js/jquery.slimscroll.js" %}"></script>
    <!--Menu sidebar -->
    <script src=" {% static "js/sidebarmenu.js" %}"></script>
    <!--stickey kit -->
    <script src=" {% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>
    <!--Custom JavaScript -->


   
     <script src=" {% static "js/lib/morris-chart/raphael-min.js" %}"></script>
    <script src=" {% static "js/lib/morris-chart/morris.js" %}"></script>
    <script src=" {% static "js/lib/morris-chart/dashboard1-init.js" %}"></script>


  <script src="" {% static "js/lib/calendar-2/moment.latest.min.js" %}"></script>
    <script src=" {% static "js/lib/calendar-2/semantic.ui.min.js" %}"></script>
    <script src=" {% static "js/lib/calendar-2/prism.min.js" %}"></script>
    <script src=" {% static "js/lib/calendar-2/pignose.calendar.min.js" %}"></script>
    <script src="" {% static "js/lib/calendar-2/pignose.init.js" %}"></script>

    <script src=" {% static "js/lib/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src=" {% static "js/lib/owl-carousel/owl.carousel-init.js" %}"></script>

    

    <script src=" {% static "js/scripts.js" %}"></script>
    <!-- scripit init-->

    <script src=" {% static "js/custom.min.js" %}"></script>

        <script>
.bootstrap-tagsinput {
  width: 100%;
}
</script>

<script>
$('#id_technology').css('height', '100px');
$('#id_technologychoice').css('height', '100px');
</script>



</body>

</html>