{% extends "base2.html" %}
{% block content %}
 


 
<!--

<script>
var citynames = new Bloodhound({
  local: ["T-Cell", "T-Reg", "Lithium"],
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace
});
var citynames.initialize();

citynames
.done(function() { console.log('ready to go!'); })
.fail(function() { console.log('err, something went wrong :('); });

$('input').tagsinput({
  typeaheadjs: {
    name: 'citynames',
    displayKey: 'name',
    valueKey: 'name',
    source: citynames.ttAdapter()
  }
});
</script>
-->



         <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Analysis: {{marketneeddata.name}}</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Edit competitor: {{marketneeddata.name}}</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->



       <div class="row">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-title">
                                <h4>Edit competitor</h4>
                              <div><a href="/explore/{{addlink}}" class="btn btn-primary" role="button">Add another</a></div>

                            </div>
                            <div class="card-body">

                                <div class="basic-form">

                                  <form action={{action}} method="post">
                                    {% csrf_token %}


                                  {% if form.errors %}
                                              {% for field in form %}
                                                  {% for error in field.errors %}
                                                      <div class="alert alert-danger">
                                                          <strong>{{ error|escape }}</strong>
                                                      </div>
                                                  {% endfor %}
                                              {% endfor %}
                                              {% for error in form.non_field_errors %}
                                                  <div class="alert alert-danger">
                                                      <strong>{{ error|escape }}</strong>
                                                  </div>
                                              {% endfor %}

                                          {% endif %}



                                          {% if messages %}
                                              {% for message in messages %}
                                              {% if message.tags %}
                                              <div class="alert alert-success">
                                                <strong>{{ message }}</strong>
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                          {% endif %}


                                              {% for field in form.visible_fields %}


                                              <div class="form-group"> 
                                                 <div>{{ field.label_tag }}</div>
                                                {{ field }}
                                                </div>
                                                  {% endfor %}

                                                 {% for field in form.hidden_fields %}

                                             <div>{{ field }}</div>

                                               {% endfor %}

                                               <button type="submit" class="btn btn-primary">Save</button>
                                                </form>

                                                <br>
                                                <a href="/explore/deleteentity?id={{request.GET.id}}" class="btn btn-danger confirmation" onclick="if (confirm('Are you sure, this is permenant?')){return true;}else{event.stopPropagation(); event.preventDefault();};" role="button">Delete Forever</a>

                                          <!--  <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-default</code> for Default input.</p> -->
                                </div>
                            </div>
                        </div>
                    </div> 

               </div>  
 

<!-- Form Name -->
   {% if requirements %}

  <div class="row">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-title">
                                <h4>Edit opportunity fit</h4>

                            </div>
                            <div class="card-body">

                           

                        <div id="table">
                        <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">Market requirement</th><th scope="col">Category</th><th scope="col">Importance</th><th scope="col">Approach</th><th scope="col">State</th><th scope="col">Confidence</th>
                         </tr>
                        </thead>
                        <tbody>      
  
              {% for entity in requirements %}

              <tr>
               <!--class="table-danger" -->
                 <td> <a href="addrequirement?reqid={{entity.requirementid}}">{{entity.name}}</a> </td>
                 <td>{{entity.category}}</td>
                 <td>{{entity.importance}}</td>
                 <td><a href="addsolution?reqid={{entity.requirementid}}&solutionid={{entity.solutionid}}&productid={{entity.productid}}" target="blank">{{entity.solutionname}}</a></td>
                 <td class="table-{{entity.highlight}}">{{entity.status}}</td>
                 <td>{{entity.confidence}}%</td>


                 <!-- IF there's no matching solution, add ability to add -->
                 </tr>
              {% endfor %}

       


   </tr>
</tbody>
</table>
</div>
<br>
<a href="/explore/addrequirement?marketid={{marketid}}" target="blank" class="btn btn-primary" role="button">Add requirement</a>

                            
                            </div>
                        </div>
                    </div>
</div>

            {% endif %} 

  

<!-- This provides the sugestions -->




{% endblock %}