<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>DSV Graph - Add Company</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#" target="index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="addcompany">Add company</a>
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">DSV Graph</h3>
      </div>

      

      <div class="row marketing">
        <div class="col-lg-6"><div class="form-group" style=""><div class="form-group" style=""></div></div><div class="form-group" style=""><div class="form-group"><label>Company name</label><input type="text" class="form-control"><div class="form-group" style=""><label>Market</label><select class="form-control"><option value="value1">Precession medicine</option><option value="value2">Batteries</option><option value="value3">Neurodegeneration</option></select></div></div></div><form style=""></form>
          
          

          
          

          
          
        <label>Development plan<select class="form-control"><option value="value1">Text 1</option><option value="value1">CRO</option><option value="value2">Licence asset at pre-clinical</option><option value="value3">Licence asset at phase 1</option></select></label><div class="form-group" style=""><div class="form-group" style=""><div class="form-group" style=""><label>Business model</label><select class="form-control"><option value="value1">Royalties on sales</option><option value="value2">Software as service</option><option value="value3">Fee per service</option></select></div><label>Technology stack</label><input type="text" class="form-control" placeholder="CRISPR, Single cell sequencing, RNAi"></div></div><button type="button" class="btn btn-primary" style="float: right;">Save</button></div>

        
      </div>

      <footer class="footer">
        <p>© DSV 2018</p>
      </footer>

    </div> <!-- /container -->
  

</body>
</html>