{% extends "base2.html" %}
{% block content %}
        



         <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">{{pagetitle}}</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">{{pagetitle}}</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->



       <div class="row">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-title">
                                <h4>{{pagetitle}}</h4>

                            </div>
                            <div class="card-body">

                                <div class="basic-form">

                                  <form action={{action}} method="post">
                                    {% csrf_token %}


                                  {% if form.errors %}
                                              {% for field in form %}
                                                  {% for error in field.errors %}
                                                      <div class="alert alert-danger">
                                                          <strong>{{ error|escape }}</strong>
                                                      </div>
                                                  {% endfor %}
                                              {% endfor %}
                                              {% for error in form.non_field_errors %}
                                                  <div class="alert alert-danger">
                                                      <strong>{{ error|escape }}</strong>
                                                  </div>
                                              {% endfor %}

                                          {% endif %}



                                          {% if messages %}
                                              {% for message in messages %}
                                              {% if message.tags %}
                                              <div class="alert alert-success">
                                                <strong>{{ message }}</strong>
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                          {% endif %}


                                              {% for field in form.visible_fields %}

                                              <div class="form-group">
                                                 <div>{{ field.label_tag }}</div>
                                                {{ field }}
                                                </div>
                                                  {% endfor %}

                                                 {% for field in form.hidden_fields %}

                                             <div>{{ field }}</div>

                                               {% endfor %}

                                               <button type="submit" class="btn btn-primary">Save</button>
                                                </form>

                                                <br>
                                                <a href="/explore/deleteentity?id={{request.GET.id}}" class="btn btn-danger confirmation" onclick="if (confirm('Are you sure, this is permenant?')){return true;}else{event.stopPropagation(); event.preventDefault();};" role="button">Delete Forever</a>

                                          <!--  <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-default</code> for Default input.</p> -->
                                </div>
                            </div>
                        </div>
                    </div> 

               </div>  
 

<!-- Form Name -->



{% endblock %}