<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body style="height: 1500px;"><div class="form-group" style="border: 1px dashed rgb(66, 133, 244);">			  			</div>

    <div class="container" style="width: 735px;"><div class="container" style=""><div class="m-5"></div></div><div class="container" style=""></div>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">DSV Graph</h3>
      </div>

      <div>
        
       <legend>Add / edit Person</legend><form class="form-horizontal">
<fieldset>

<!-- Form Name -->


<!-- Text input-->
<div class="form-group"><div class="form-group" style=""><label><b>Name</b></label><input type="text" class="form-control"></div>
    
  
</div><div class="form-group" style=""><b></b><b></b></div><div class="form-group"><div class="row" style=""></div><div class="container" style=""></div>
  
  
</div>
  
  <!-- Select Multiple -->


<!-- Select Multiple -->

  <!-- Button Drop Down -->


<!-- Select Basic -->


<!-- Select Multiple -->


<!-- Select Multiple -->


<!-- Select Multiple -->


<!-- Select Multiple -->
<div class="form-group" style=""><span class="badge badge-danger" style=""></span></div>

<!-- Button -->


<div class="form-group" style=""><label><b>Description</b></label><textarea class="form-control"></textarea></div><div class="form-group" style=""><label><b>Key skill</b></label><input type="text" class="form-control"></div><div class="form-group" style=""><label><b>Key skill</b></label><input type="text" class="form-control"></div><div class="form-group" style=""><label><b>Key skill</b></label><input type="text" class="form-control"></div></fieldset>
</form>

        
      </div>  
      
      
      

      <label></label><div class="row marketing">
        

        
      </div>

      <div class="form-group" style=""></div><footer class="footer">
        
      </footer>

    </div> <!-- /container -->
  

</body>
</html>