{% extends "base2.html" %}
{% block content %}







        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Analysis: {{marketneeddata.name}}</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Analysis: {{marketneeddata.name}}</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->

      <div class="row">



      <!-- Main part of the page -->





      <div class="col-lg-12">
          <div class="card">
              <div class="card-title">
                  <h4>{{marketneeddata.name}}</h4>
              </div>
                   <div class="card-body">
                    <div><p>{{marketneeddata.summary}}</p></div>
                    <br>
                    <a href="/explore/{{link}}?id={{marketneeddata.id}}" class="btn btn-primary" role="button">Edit</a>
                    <a href="/explore/deleteentity?id={{marketneeddata.id}}" class="btn btn-danger confirmation" onclick="if (confirm('Are you sure, this is permenant?')){return true;}else{event.stopPropagation(); event.preventDefault();};" role="button">Delete</a>
              
                  </div>
            </div>
      </div>

</div>



       


<div class="row">


                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Ranked projects</h4>
                             <div> <a href="/explore/addProduct?marketid={{marketneeddata.id}}" class="btn btn-primary" role="button" target="blank">Add Product</a></div>
                             <br>
                            <p>Include incumbent approaches, academia, startups potential new approaches</p>
                            </div>
                            <div class="card-body">


                                <div class="table-responsive">
                                    <table class="table">
                                       {% if marketneeddata.comparisonTable %}
                                        <thead>
                                         <tr>
                                          <th scope="col">Competitor</th>
                                          {% for entity in marketneeddata.requirements %}
                                          <th class="rotate" scope="col">{{entity.name}}</th>
                                          {%endfor%}
                                          <th class="rotate" scope="col">Score</th>
                                        </tr>
                                        </thead>
                                          <tbody>      
                                          
                                                      {% for r in marketneeddata.comparisonTable %}
                                                        <tr>
                                                          {% for item in r %}
                                                             
                                                          <td class="table-{{item.col}}">
                                                            {%if item.id%}
                                                            <a href="addcompetitor?id={{item.id}}">
                                                              {% endif %}
                                                            {{item.val}}
                                                            {%if item.id%}
                                                          </a>
                                                          {% endif %}

                                                        </td>
                                                          {% endfor %}
                                                         </tr>
                                                      {% endfor %}

                                          {% else %}
                                            <p>No comparison table found found</p>
                                          {% endif %} 
                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

</div>

<div class="row">


 <!-- Radar Chart -->
                    <div class="col-lg-12">
                         <div class="card">
                            <div class="card-title">
                                <h4>Projects compared</h4>

                            </div>
                            <div class="sales-chart">
                                <canvas id="radarChart"></canvas>
                            </div>
                        </div>
                    </div>



</div>


<div class="row">


 <!-- Radar Chart -->
                    <div class="col-lg-12">
                         <div class="card">
                            <div class="card-title">
                                <h4>Driving factors</h4>

                            </div>
                            <div class="sales-chart">
                               <img src="graph?id={{marketneeddata.id}}">
                            </div>
                        </div>
                    </div>



</div>


                             



  <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Key Factors</h4>
                             <div> <a href="/explore/addrequirement?marketid={{marketneeddata.id}}" class="btn btn-primary" role="button">Add Opportunity specific factor</a></div>
   
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Importance</th>
 
                                            </tr>
                                        </thead>
                                        <tbody>

                                        {% if marketneeddata.requirements %}
                                         {% for entity in marketneeddata.requirements %}  

                                            <tr>
                                                <td><a href="addrequirement?id={{entity.id}}" target="blank"> {{entity.name}}</a> </td>
                                                <td class="color-primary">{{entity.importance}}</td>
                                            </tr>

                                          {% endfor %}
                                          {% else %}
                                        <p>Nothing found :(</p>
                                        {% endif %}  
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



    </div> <!-- row -->



<!-- INCLUDES SUB MARKETS -->

  <div class="row">

  

                      <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Full product vs. key factor data</h4>
                  
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                  {% autoescape off %}{{reqandsolhtml}}{% endautoescape %}
                                </div>
                            </div>
                        </div>
                    </div>
</div>                    


  <div class="row">

  

                      <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Sits within opportunity areas</h4>
                             <div> <a href="/explore/addmarketneed" class="btn btn-primary" role="button" target="blank">Add new area</a></div>
   
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% if marketneeddata.superMarketArray  %}

                                         {% for entity in marketneeddata.superMarketArray %}  

                                            <tr>
                                                <td><a href="marketanalysis?id={{entity.id}}" target="blank">{{entity.name}}</a> </td>
                                                <!--<td class="color-primary">{{entity.importance}}</td> -->
                                                <td></td>
                                            </tr>

                                          {% endfor %}
              
                                 {% endif %}  
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- END OF UPPER MARKETS -->



                   <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Includes sub opportunity areas </h4>
                             <div> <a href="/explore/addmarketneed" class="btn btn-primary" role="button" target="blank">Add new area</a></div>
   
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if marketneeddata.submarketArray  %}
                                         {% for entity in marketneeddata.submarketArray %}  

                                            <tr>
                                                <td><a href="marketanalysis?id={{entity.id}}" target="blank">{{entity.name}}</a> </td>
                                                <!--<td class="color-primary">{{entity.importance}}</td> -->
                                                <td></td>
                                            </tr>

                                          {% endfor %}
              
                                {% endif %} 
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END OF SUB MARKETS -->



    </div> <!-- row -->


<div class="row">





                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Key Customers </h4>
                             <div><a href="/explore/addcustomer?marketid={{marketneeddata.id}}" class="btn btn-primary" role="button" target="blank">Add Customer</a></div>
   
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th></th>
 
                                            </tr>
                                        </thead>
                                        <tbody>

                                        {% if marketneeddata.customers %}
                                         {% for entity in marketneeddata.customers %}  

                                            <tr>
                                                <td><a href="addrequirement?id={{entity.id}}" target="blank"> {{entity.name}}</a> </td>
                                               <!-- <td class="color-primary">{{entity.importance}}</td> -->
                                            </tr>

                                          {% endfor %}
                                          {% else %}
                                        <p>Nothing found :(</p>
                                        {% endif %}  



                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 




</div>

</div>




   

    <!--  <div><a href="/explore/{{link}}">Add new</a></div> -->

      
<!--
            <div>Business Model <a href="/explore/addbusinessmodel">Add</a>, <a href="/explore/allbusinessmodels">View All</a></div>
           <div>Market <a href="/explore/addmarket">Add</a>, <a href="/explore/allmarkets">View All</a></div> 
            <div>Directly Add Risk / Impact Factor to Market, Business Model or Technology <a href="/explore/addrisk">Add</a>, <a href="/explore/allrisk">View All</a></div>
-->
            <!--
            <div><h4>Current graph analysis</h4></div>
            <div><p>£{{marketneeddata.size}} million is a <b>significant market size</b> +5</p></div>
            <div><p>A growth rate of <b>{{marketneeddata.CAGR}}% is good,</b>+4 <p></div>
            <div><p>There are <b>3</b> potential customers, ideally aim for at least 10, -2</p></div>
            <div><p>There are <b>3</b> known direct competitors close to a solution, -2</p></div>
            <div><p>Budget for solutions seems <b>low</b>, -5</p></div>
            <div><p>In a <b>risk adverse market</b>, -3</p></div> 
            <br>
            <div><h3>VBP score: 6 which is ok but not compelling</h3>
            <br> 
          -->



<script>
var ctx = document.getElementById("radarChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
   data: {
    labels: {{reqNameArray|safe}},
    datasets: [

      {% for entity in radarArrayAll %}
      {
        'label': "{{entity.name}}", 
        data: {{entity.solutionValues}},
        'fill': true,
        "backgroundColor":"rgba{{entity.rgba4}}",
        "borderColor":"rgb{{entity.rgba}}",
        "pointBackgroundColor":"rgb{{entity.rgba}}",
        "pointBorderColor":"#fff",
        "pointHoverBackgroundColor":"#fff",
        "pointHoverBorderColor":"rgb{{entity.rgba}}"
    }, 

  {%endfor%}

    ]
}, 
options: {
    scale: {
        // Hides the scale
        display: true
    }
}
});
</script>

<script>
var ctx = document.getElementById("drivingFactors").getContext('2d');

var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: {{drivingFactor}}
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
                    }]
              }
    }
});

</script>



            <!--<div><p><b>Related markets:</b> {{marketneeddata.relatedmarkets}}</p></div>-->



{% endblock %}