{% extends "base.html" %}
{% block content %}

<div class="container-fluid">


  <div class="row">


    <div class="col-md-12">
      <div class="row no-gutter">



        <div class="col-md-6">

     <h4>Projects</h4>



            <div><a href="/explore/allproducts">View all projects</a></div>
            <div><a href="/explore/addcompetitor">Add new project or competitor</a></div> 

             <br>
              
            <div><p><b>Top projects</b></p></div> 
            <div>
              
            {% if projects %}
              {% for entity in projects %}
                <div><a href="/explore/{{projectlink}}?id={{entity.id}}">  {{entity.name}}</a> </div>

                
              {% endfor %}
            {% else %}
              <p>Nothing found :(</p>
            {% endif %}


        <br>
<div><p><b>Most active projects</b></p></div>
<br>


        </div>
      </div>


        <div class="col-md-6">

        <h4>VBPs</h4>

        
    
        <div><a href="/explore/allmarketneeds">All areas</a></div> 
        <div><a href="/explore/addmarketneed">Add new area</a></div>

        <br>
        <div><p><b>Most active VBPs</b></p></div>
        <div>
          
            {% if vbps %}
              {% for entity in vbps %}
                <div><a href="/explore/{{vbpslink}}?id={{entity.id}}">  {{entity.name}}</a> </div>

                
              {% endfor %}
            {% else %}
              <p>Nothing found :(</p>
            {% endif %}



        </div>
        <br>

         

        </div>
      </div>
    </div>
  </div> 


{% endblock %}




