<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>DSV Graph</title>

 <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    
    <div class="container" style="width: 735px;"><div class="container" style=""><div class="m-5"></div></div><div class="container" style=""></div>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">DSV Graph</h3>
      </div>

      

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Companies and Prototypes</h4>
          <p contenteditable="true" spellcheckker="false"><div>Portfolio ranking view</div>View / search all companies<div><a href="/explore/addcompany">Add company information</div></a></p>

          <h4>Unmet market needs</h4>
          <p>View all unmet need groups&nbsp;<div>Add unmet need (and hypothesis)</div></p>

          <h4>Markets &amp; Models</h4>
          <p>Add / edit Market headwinds, tailwinds, risks<div>Add / edit Business Model<div>Add / edit Defensibility strategy<div>Add / edit Development strategy<div>Add / edit Technology strategy<div>Add / edit Funding Strategy</div></div></div></div></div></p>
        </div>

        <div class="col-lg-6">
          <h4>People</h4>
          <p>Add / edit people</p>

          <h4>Meta</h4>
          <p>Proto-companies with unmitigated risks<div>Company ranking<br><div>Recent shifts in viability</div></div></p>

          <h4>&nbsp;</h4>
          <p>&nbsp;</p>
        </div>
      </div>

      <footer class="footer">
        <p>© DSV 2018</p>
      </footer>

    </div> <!-- /container -->
     </div> <!-- /container -->
  

</body>
</html>