{% extends "base2.html" %}
{% block content %}

        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Home</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Explore</a></li>
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->


                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fas fa-table f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{marketneedcount}}</h2>
                                    <p class="m-b-0"><a href="allmarketneeds">Opportunities</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fas fa-project-diagram f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{products}}</h2>
                                    <p class="m-b-0"><a href="allproducts">Companies</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fas fa-list-ol f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{requirementcount}}</h2>
                                    <p class="m-b-0">Impacting factors</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fas fa-check f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{solutioncount}}</h2>
                                    <p class="m-b-0">Approaches</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



  <div class="row">


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Most active Opportunity areas</h4>
                             <div><a href="/explore/allproducts" class="btn btn-primary" role="button">All projects</a>
                             <a href="/explore/addproduct" class="btn btn-primary" role="button">Add project</a></div>
   
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Projects</th>

 
                                            </tr>
                                        </thead>
                                        <tbody>

                                        {% if popularProjects %}
                                         {% for entity in popularProjects %}  

                                            <tr>
                                                <td><a href="/explore/marketanalysis?id={{entity.identifier}}">  {{entity.name}}</a> </td>
                                                <td class="color-primary">{{entity.number}}</td>
                                            </tr>

                                          {% endfor %}
                                          {% else %}
                                        <p>Nothing found :(</p>
                                        {% endif %}  
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>





                   <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Most knowledgable users</h4>
                             <div><a href="/explore/allmarketneeds" class="btn btn-primary" role="button">All Opportunities</a>
                             <a href="/explore/addmarketneed" class="btn btn-primary" role="button">Add Opportunity</a></div>
   
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Number of entries</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        {% if namesList %}
                                        {% for entity in namesList %}
                                            <tr>
                                                <td>{{entity.name}}</a></td>
                                                <td class="color-primary">{{entity.number}}</td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                        <p>Nothing found :(</p>
                                        {% endif %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



  </div>  



<!--
  <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Recent additions </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Added by </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        {% if updates %}
                                        {% for entity in updates %}
                                            <tr>
                                                <td>{{entity.thing}}</td>
                                                <td class="color-primary">{{entity.name}}</td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                        <p>Nothing found :(</p>
                                        {% endif %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



  </div>  

-->
</div>  



{% endblock %}




