{% extends "base.html" %}
{% block content %}

      <!-- Main part of the page -->


      <div class="row marketing">
        <div class="col-lg-8">
          <div><a href="/explore/{{addlink}}">Add new</a></div>
          <p contenteditable="true" spellcheckker="false">
            {% if graknData %}
              {% for entity in graknData %}
                <div><a href="/explore/{{link}}?id={{entity.id}}">  {{entity.name}}</a> 

                </div>
              {% endfor %}
            {% else %}
              <p>Nothing found :(</p>
            {% endif %}

            </p>


<!--
[<a href="/explore/{{link}}?id={{entity.id}}">Edit</a>, Analysis</a>] <a href="/explore/deleteentity?id={{entity.id}}">Delete!</b></a>
-->


      </div>

{% endblock %}